*, *::before, *::after {
  box-sizing: border-box;
}

body, html {
  margin: 0;
  height: 100%;
}

body {
  font-family: sans-serif;
  font-size: 14px;
  color: #333333;
}

body.home {
  overflow: hidden;
}

#welcome {
  position: relative;
  height: 100%;
  background: #eeeeee;
  display: flex;
  padding: 1rem 0;
  align-items: center;
  justify-content: center;
}

#welcome .center {
  padding: 2rem;
  background: #ffffff;
  border-radius: .5rem;
  max-width: 100%;
  width: 400px;
  margin: 0 1rem;
  font-size: 1.25rem;
  box-shadow: 0 5px 10px -1px rgba(0, 0, 0, 0.2);
  overflow: auto;
  max-height: 100%;
}

#welcome .center h1 {
  margin: 0 0 1rem;
  padding: 0 0 1rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  font-size: 2.5rem;
  font-weight: normal;
}

#welcome .center h1 span {
  display: block;
  font-size: 1rem;
  letter-spacing: 2px;
  margin: .5rem 0 0;
}

#welcome .center h1 b {
  font-weight: bolder;
  text-transform: uppercase;
  letter-spacing: 2px;
  display: inline;
  padding: .25rem;
  background: #9965f4;
  color: #ffffff;
  border-radius: .5rem;
  font-size: 1.5rem;
}

#welcome .center > p {
  font-size: 1rem;
  margin: 0 0 2rem;
}

#welcome .center .auth-button-group {
  display: flex;
  justify-self: start;
  align-items: center;
}

#welcome .center .auth-button-group a {
  padding: 0.5rem 1rem;
  display: block;
  margin-right: 1rem;
  text-decoration: none;
  background-color: #9965f4;
  color: white;
  border-radius: .25rem;
  font-size: 1rem;
}

#welcome .center .auth-button-group a:last-child {
  margin-left: 1rem;
  margin-right: 0;
}

#welcome .center #controller {
  position: relative;
  margin-bottom: 1rem;
}

#welcome .center #controller h2 {
  margin: 2rem 0 0;
}

#welcome .center #controller a {
  display: block;
  width: 100%;
  margin: 0;
  background-color: #9965f4;
  padding: .5rem 1rem;
  color: white;
  text-decoration: none;
  border-radius: .25rem;
  font-size: 1rem;
  text-align: center;
}

#welcome .center form {
  position: relative;
  display: block;
}

#welcome .center form input {
  border: none;
  padding: .5rem 1rem;
  border: 1px solid rgba(0, 0, 0, 0.1);
  display: block;
  margin: 0 0 1rem;
  border-radius: .25rem;
  width: 100%;
  font-size: 1rem;
}

#welcome .center form label {
  font-size: 1rem;
  margin: 0 0 .5rem;
  display: inline-block;
}

#welcome .center form .input-group {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  margin: 0 -.5rem;
}

#welcome .center form .input-group .input-item {
  margin: 0 .5rem;
}

#welcome .center form button {
  display: inline-block;
  padding: .5rem 1rem;
  font-size: 1rem;
  cursor: pointer;
  background: #9965f4;
  color: #ffffff;
  border: none;
  border-radius: .25rem;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  margin-top: 1rem;
}

#welcome .center #msg-box {
  margin-top: 2rem;
  padding: 1rem;
  font-size: 1rem;
  border-radius: .5rem;
  color: #ffffff;
}

#welcome .center #msg-box.alert-danger {
  background-color: #c30;
}

#welcome .center #msg-box.alert-warning {
  background-color: #fc0;
  color: #333333;
}

#welcome .center #msg-box.alert-info {
  background-color: #2fa1ec;
}

#welcome .center #msg-box.alert-success {
  background-color: #9c3;
}
