link(rel="apple-touch-icon", href="/favicon/apple-icon-57x57.png",size="57x57")
link(rel="apple-touch-icon", href="/favicon/apple-icon-60x60.png",size="60x60")
link(rel="apple-touch-icon", href="/favicon/apple-icon-72x72.png",size="72x72")
link(rel="apple-touch-icon", href="/favicon/apple-icon-76x76.png",size="76x76")
link(rel="apple-touch-icon", href="/favicon/apple-icon-114x114.png",size="114x114")
link(rel="apple-touch-icon", href="/favicon/apple-icon-120x120.png",size="120x120")
link(rel="apple-touch-icon", href="/favicon/apple-icon-144x144.png",size="144x144")
link(rel="apple-touch-icon", href="/favicon/apple-icon-152x152.png",size="152x152")
link(rel="apple-touch-icon", href="/favicon/apple-icon-180x180.png",size="180x180")
link(rel="icon", href="/favicon/android-icon-192x192.png", type="image/png", size="192x192")
link(rel="icon", href="/favicon/android-icon-96x96.png", type="image/png", size="96x96")
link(rel="icon", href="/favicon/android-icon-72x72.png", type="image/png", size="72x72")
link(rel="icon", href="/favicon/android-icon-36x36.png", type="image/png", size="36x36")
link(rel="manifest", href="/favicon/manifest.json", type="application/json")
meta(msapplication-Titlecolor="#ffffff")
meta(msapplication-Titleimage="/favicon/ms-icon-144x144.png")
meta(theme-color="#ffffff")