head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title #{title ? title : "Untitled"}
    // Meta Seo
    include favicon
    // Embed
    if typeof(css) !== 'undefined' && css.length > 0
        each fileName in css
            link(rel="stylesheet", href=`/css/${fileName}.css`)
    link(rel="stylesheet", href="/css/bootstrap.min.css")
    link(rel="stylesheet", href="/css/icofont.min.css")
    link(rel="stylesheet", href="/css/common.css")
    script(src='/js/jquery.min.js')
    script(src='/js/bootstrap.min.js')
    if typeof(script) !== 'undefined' && script.length > 0
        each fileName in script
            script(src=`/js/${fileName}.js`)