ul.list-group
    a.list-group-item.list-group-item-action(href='/dashboard') <i class="icofont-home"></i> Trang chủ
    a.list-group-item.list-group-item-action(href='#') <i class="icofont-listing-number"></i> Danh sách bài viết
    a.list-group-item.list-group-item-action(href='#') <i class="icofont-plus-circle"></i> Đăng bài viết
    a.list-group-item.list-group-item-action(href='#') <i class="icofont-ui-calendar"></i> Lên lịch đăng
    a.list-group-item.list-group-item-action(href='#') <i class="icofont-users-alt-2"></i> Thành viên
    a.list-group-item.list-group-item-action.disabled(href='#', aria-disabled='true', tabindex=-1) Disabled item