<!DOCTYPE html>
html(lang="en")
    include includes/head
    body.home
        #welcome
            .center
                h1 Chào mừng <span>đến với</span> <b>TaiGameTool</b>
                p Đăng nhập để sử dụng tool
                .auth-button-group
                    a(href="/login") <i class="icofont-login"></i> Đăng nhập
                    span hoặc
                    a(href="/register") Đăng ký